<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uca.gestionproyectos" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TodosActivity"
            android:label="@string/title_activity_todos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BuscarActivity"
            android:label="@string/title_activity_buscar"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NuevoActivity"
            android:label="@string/title_activity_nuevo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BorrarActivity"
            android:label="@string/title_activity_borrar"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver android:name=".TodosWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todos_widget_info" />
        </receiver>
    </application>

</manifest>
